* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainBox {
    width: 100%;
    height: 100%;
    display: block;
}

.chatForm{
    width: 100%;
    height: 90%;
}

.inputForm {
    width: 100%;
    height: 10%;
    display: flex;
}

.msgInput {
    width: 80%;
    height: 100%;
    padding: 2%;
    color: white;
}