<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/4ef9093d57.js" crossorigin="anonymous"></script>
    <title>Chat App</title>
</head>
<body>
    <div class="popUpArea" id="popupArea">
        <div class="popupBox">
            <div class="popupNav">
                <i class="fa fa-close"></i>
            </div>
            <div class="popupContent">
                <input type="text" placeholder="username" name="username" id="username" required>
                <button onclick="getUsername()">Create Account</button>
            </div>
        </div>
    </div>

    <div class="mainArea">
        <div class="chatArea">
            <div class="chatBox">
                <div id="chatMessages"></div>
            </div>
            <div class="typeArea">
                <textarea type="text" placeholder="Message..." id="message" name="message" required></textarea>
            </div>
        </div>
        <div class="usersArea"></div>
    </div>

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>